body {
  background-color: gray;
}

.slider {
  width: 80%;
  margin: 0 auto;
}

.img-div {
  width: 300px;
  height: 300px;
  margin: 0 15px;
}

.div1 {
  background: url(https://source.unsplash.com/600x700) center no-repeat;
  background-size: cover;
}

.div2 {
  background: url(https://source.unsplash.com/500x600) center no-repeat;
  background-size: cover;
}

.div3 {
  background: url(https://source.unsplash.com/1200x900) center no-repeat;
  background-size: cover;
}

.div4 {
  background: url(https://source.unsplash.com/400x800) center no-repeat;
  background-size: cover;
}
